ul#nav(role='navigation')
  li(class=page === 'home' ? "current" : "")
    a(href='index.html') Home
  li(class=page === 'about' ? "current" : "")
    a(href='about.html') About Us
  li(class=page === 'enrollment' ? "current" : "")
    a(href='enrollment.html') Enrollment
  li(class=page === 'location' ? "current" : "")
    a(href='location.html') Location
  li(class=page === 'handbook' ? "current" : "")
    a(href='handbook.html') Handbook
  li(class=page === 'contact' ? "current" : "")
    a(href='contact.html') Contact
