ul#nav(role='navigation')
  li(class=page === 'home' ? "current" : "")
    a(href='index.html') Home
  li(class=page === 'home' ? "about" : "")
    a(href='about.html') About
  li(class=page === 'home' ? "enrollment" : "")
    a(href='enrollment.html') Enrollment
  li(class=page === 'home' ? "location" : "")
    a(href='location.html') Location
  li(class=page === 'home' ? "handbook" : "")
    a(href='handbook.html') Handbook
  li(class=page === 'home' ? "contact" : "")
    a(href='contact.html') Contact
